<section>
  <nav>
    <button [routerLink]='["home"]'> Home </button>
    <div class="userAuthContainer" *ngIf="user == null">
      <button class="userAuth" [routerLink]="['signup']"> Signup</button>
      <button class="userAuth" [routerLink]="['login']"> Login</button>
    </div>
    <div class="loggedIn" *ngIf="user != null">
      <img src="../../../assets/img_1.png">
      <h3>Welcome, Plainswalker {{user.firstName}} {{user.lastName}}</h3>
      <button (click)="logout()">Logout</button>
    </div>
  </nav>
</section>




