<p>signup works!</p>

<form
  #createAccountForm="ngForm"
  (ngSubmit)="signUp(createAccountForm)"
  >
  <!-- Username with validators -->
  <div class="form-group">
    <strong><label for="Username">Username</label></strong>
    <input
      required
      minlength="6"
      maxlength="20"
      pattern="[a-zA-z]*"
      ngModel
      name="Username"
      #Username="ngModel"
      id="Username"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="Username.touched && !Username.valid"
    >
      <div *ngIf="Username.errors.required">Username is required</div>
      <div *ngIf="Username.errors.minlength">
        Username should be between 6 - 20 characters and must end with a number
      </div>
      <div *ngIf="Username.errors.maxlength">
        Username should be between 6 - 20 characters and must end with a number
      </div>
      <div *ngIf="Username.errors.pattern">
        Username must not contain spaces or special characters. Letters and numbers only.
      </div>
    </div>
  </div>

  <!-- FIRST NAME with validators  -->
  <div class="form-group">
    <strong><label for="FirstName">First Name</label></strong>
    <input
      required
      minlength="2"
      maxlength="20"
      pattern="[a-zA-Z]*"
      ngModel
      name="FirstName"
      #FirstName="ngModel"
      id="FirstName"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="FirstName.touched && !FirstName.valid"
    >
      <div *ngIf="FirstName.errors.required">First Name is required</div>
      <div *ngIf="FirstName.errors.minlength">
        First Name should be between 2 - 20 characters
      </div>
      <div *ngIf="FirstName.errors.maxlength">
        First Name should be between 2 - 20 characters
      </div>
      <div *ngIf="FirstName.errors.pattern">
        First Name must not contain spaces, numbers or special characters
      </div>
    </div>
  </div>

  <!-- LAST NAME with validators -->
  <div class="form-group">
    <strong><label for="LastName">Last Name</label></strong>
    <input
      required
      minlength="2"
      maxlength="20"
      pattern="[a-zA-Z]*"
      ngModel
      name="LastName"
      #LastName="ngModel"
      id="LastName"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="LastName.touched && !LastName.valid"
    >
      <div *ngIf="LastName.errors.required">Last Name is required</div>
      <div *ngIf="LastName.errors.minlength">
        Last Name should be between 2 - 20 characters
      </div>
      <div *ngIf="LastName.errors.maxlength">
        Last Name should be between 2 - 20 characters
      </div>
      <div *ngIf="LastName.errors.pattern">
        Last Name must not contain spaces, numbers or special characters
      </div>
    </div>
  </div>

  <!-- EMAIL with validators  -->
  <div class="form-group">
    <strong><label for="Email">Email</label></strong>
    <input
      required
      Email="true"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      ngModel
      name="Email"
      #Email="ngModel"
      type="email"
      id="Email"
      class="form-control"
    />
    <div class="alert alert-danger" *ngIf="Email.touched && !Email.valid">
      <div *ngIf="Email.errors.required">Email is required</div>
      <div *ngIf="Email.errors.pattern">Valid email is required</div>
    </div>
  </div>

  <!-- PASSWORD with validators  -->
  <!-- PASSWORD CAN CONTAIN ANY CHARACTER(S) EXCEPT WHITE SPACES -->
  <div class="form-group">
    <strong><label for="Password">Password</label></strong>
    <input
      required
      minlength="6"
      maxlength="20"
      pattern="^\S*$"
      ngModel
      name="Password"
      #Password="ngModel"
      type="password"
      id="Password"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="Password.touched && !Password.valid"
    >
      <div *ngIf="Password.errors.required">Password is required</div>
      <div *ngIf="Password.errors.minlength">
        Password must be between 6 - 20 characters
      </div>
      <div *ngIf="Password.errors.maxlength">
        Password must be between 6 - 20 characters
      </div>
      <div *ngIf="Password.errors.pattern">
        Password must not contain any spaces
      </div>
    </div>
  </div>

  <!-- PASSWORD CONFIRM - if passwords don't match an alert will display from message service -->
  <div class="form-group">
    <strong><label>Confirm Password</label></strong>
    <input
      required
      ngModel
      name="PasswordConfirm"
      #PasswordConfirm="ngModel"
      type="password"
      id="PasswordConfirm"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="PasswordConfirm.touched && !PasswordConfirm.valid"
    >
      <div *ngIf="PasswordConfirm.errors.required">
        Password confirm is required
      </div>
      <div *ngIf="!this.passwordsMatch">Passwords do not match</div>
    </div>
  </div>
  <br />

  <button class="btn btn-primary">SignUp</button>
</form>
