<div class="split left">
  <div class="centered">
    <header>
    <h1>Create Account</h1>
    </header>
<form
  #registerForm="ngForm"
  (ngSubmit)="register(registerForm)">
  <!-- Username with validators -->
      <div class="form-group">
    <input
      required
      minlength="6"
      maxlength="20"
      pattern="[a-zA-z]*"
      ngModel
      name="username"
      #username="ngModel"
      id="username"
      type="text"
      class="form-control"
      placeholder="Username"
    />
    <div
      class="alert alert-danger"
      *ngIf="username.touched && !username.valid"
    >
      <div *ngIf="username.errors.required">Username is required</div>
      <div *ngIf="username.errors.minlength">
        Username should be between 6 - 20 characters and must end with a number
      </div>
      <div *ngIf="username.errors.maxlength">
        Username should be between 6 - 20 characters and must end with a number
      </div>
      <div *ngIf="username.errors.pattern">
        Username must not contain spaces or special characters. Letters and numbers only.
      </div>
    </div>
  </div>

  <!-- FIRST NAME with validators  -->
  <div class="form-group">
    <input
      required
      minlength="2"
      maxlength="20"
      pattern="[a-zA-Z]*"
      ngModel
      name="firstName"
      #firstName="ngModel"
      id="firstName"
      type="text"
      class="form-control"
      placeholder="First Name"
    />
    <div
      class="alert alert-danger"
      *ngIf="firstName.touched && !firstName.valid"
    >
      <div *ngIf="firstName.errors.required">First Name is required</div>
      <div *ngIf="firstName.errors.minlength">
        First Name should be between 2 - 20 characters
      </div>
      <div *ngIf="firstName.errors.maxlength">
        First Name should be between 2 - 20 characters
      </div>
      <div *ngIf="firstName.errors.pattern">
        First Name must not contain spaces, numbers or special characters
      </div>
    </div>
  </div>

  <!-- LAST NAME with validators -->
  <div class="form-group">
    <input
      required
      minlength="2"
      maxlength="20"
      pattern="[a-zA-Z]*"
      ngModel
      name="lastName"
      #lastName="ngModel"
      id="lastName"
      type="text"
      class="form-control"
      placeholder="Last Name"
    />
    <div
      class="alert alert-danger"
      *ngIf="lastName.touched && !lastName.valid"
    >
      <div *ngIf="lastName.errors.required">Last Name is required</div>
      <div *ngIf="lastName.errors.minlength">
        Last Name should be between 2 - 20 characters
      </div>
      <div *ngIf="lastName.errors.maxlength">
        Last Name should be between 2 - 20 characters
      </div>
      <div *ngIf="lastName.errors.pattern">
        Last Name must not contain spaces, numbers or special characters
      </div>
    </div>
  </div>

  <!-- EMAIL with validators  -->
  <div class="form-group">
    <input
      required
      email="true"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      ngModel
      name="email"
      #email="ngModel"
      type="email"
      id="email"
      class="form-control"
      placeholder="email"
    />
    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
      <div *ngIf="email.errors.required">Email is required</div>
      <div *ngIf="email.errors.pattern">Valid email is required</div>
    </div>
  </div>

  <!-- PASSWORD with validators  -->
  <!-- PASSWORD CAN CONTAIN ANY CHARACTER(S) EXCEPT WHITE SPACES -->
  <div class="form-group">
    <input
      required
      minlength="6"
      maxlength="20"
      pattern="^\S*$"
      ngModel
      name="password"
      #password="ngModel"
      type="password"
      id="password"
      class="form-control"
      placeholder="password"
    />
    <div
      class="alert alert-danger"
      *ngIf="password.touched && !password.valid"
    >
      <div *ngIf="password.errors.required">Password is required</div>
      <div *ngIf="password.errors.minlength">
        Password must be between 6 - 20 characters
      </div>
      <div *ngIf="password.errors.maxlength">
        Password must be between 6 - 20 characters
      </div>
      <div *ngIf="password.errors.pattern">
        Password must not contain any spaces
      </div>
    </div>
  </div>

  <!-- PASSWORD CONFIRM - if passwords don't match an alert will display from message service -->
  <div class="form-group">
    <input
      required
      ngModel
      name="passwordConfirm"
      #passwordConfirm="ngModel"
      type="password"
      id="passwordConfirm"
      class="form-control"
      placeholder="Confirm Password"
    />
    <div
      class="alert alert-danger"
      *ngIf="passwordConfirm.touched && !passwordConfirm.valid"
    >
      <div *ngIf="passwordConfirm.errors.required">
        Password confirm is required
      </div>
      <div *ngIf="!this.password && this.passwordConfirm">Passwords do not match</div>
    </div>
  </div>
  <br />

  <button class="btn">Sign Up</button>
  <p>Already have an account? <a routerLink="/login" >Sign In</a></p>
</form>
</div>
</div>


<div class="split right">
  <div class="centered">
  </div>
</div>

