<div class="split left"> 
  <div class="centered">
    <header>
    <h1>Create Account</h1>
    </header>
<form
  #createAccountForm="ngForm"
  (ngSubmit)="signUp(createAccountForm)"
  >
  <!-- Username with validators -->
      <div class="form-group">
    <input
      required
      minlength="6"
      maxlength="20"
      pattern="[a-zA-z]*"
      ngModel
      name="Username"
      #Username="ngModel"
      id="Username"
      type="text"
      class="form-control"
      placeholder="Username"
    />
    <div
      class="alert alert-danger"
      *ngIf="Username.dirty && !Username.valid"
    >
      <div *ngIf="Username.errors.required">Username is required</div>
      <div *ngIf="Username.errors.minlength">
        Username should be between 6 - 20 characters and must end with a number
      </div>
      <div *ngIf="Username.errors.maxlength">
        Username should be between 6 - 20 characters and must end with a number
      </div>
      <div *ngIf="Username.errors.pattern">
        Username must not contain spaces or special characters. Letters and numbers only.
      </div>
    </div>
  </div>

  <!-- FIRST NAME with validators  -->
  <div class="form-group">
    <input
      required
      minlength="2"
      maxlength="20"
      pattern="[a-zA-Z]*"
      ngModel
      name="FirstName"
      #FirstName="ngModel"
      id="FirstName"
      type="text"
      class="form-control"
      placeholder="First Name"
    />
    <div
      class="alert alert-danger"
      *ngIf="FirstName.dirty && !FirstName.valid"
    >
      <div *ngIf="FirstName.errors.required">First Name is required</div>
      <div *ngIf="FirstName.errors.minlength">
        First Name should be between 2 - 20 characters
      </div>
      <div *ngIf="FirstName.errors.maxlength">
        First Name should be between 2 - 20 characters
      </div>
      <div *ngIf="FirstName.errors.pattern">
        First Name must not contain spaces, numbers or special characters
      </div>
    </div>
  </div>

  <!-- LAST NAME with validators -->
  <div class="form-group">
    <input
      required
      minlength="2"
      maxlength="20"
      pattern="[a-zA-Z]*"
      ngModel
      name="LastName"
      #LastName="ngModel"
      id="LastName"
      type="text"
      class="form-control"
      placeholder="Last Name"
    />
    <div
      class="alert alert-danger"
      *ngIf="LastName.dirty && !LastName.valid"
    >
      <div *ngIf="LastName.errors.required">Last Name is required</div>
      <div *ngIf="LastName.errors.minlength">
        Last Name should be between 2 - 20 characters
      </div>
      <div *ngIf="LastName.errors.maxlength">
        Last Name should be between 2 - 20 characters
      </div>
      <div *ngIf="LastName.errors.pattern">
        Last Name must not contain spaces, numbers or special characters
      </div>
    </div>
  </div>

  <!-- EMAIL with validators  -->
  <div class="form-group">
    <input
      required
      Email="true"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      ngModel
      name="Email"
      #Email="ngModel"
      type="email"
      id="Email"
      class="form-control"
      placeholder="Email"
    />
    <div class="alert alert-danger" *ngIf="Email.dirty && !Email.valid">
      <div *ngIf="Email.errors.required">Email is required</div>
      <div *ngIf="Email.errors.pattern">Valid email is required</div>
    </div>
  </div>

  <!-- PASSWORD with validators  -->
  <!-- PASSWORD CAN CONTAIN ANY CHARACTER(S) EXCEPT WHITE SPACES -->
  <div class="form-group">
    <input
      required
      minlength="6"
      maxlength="20"
      pattern="^\S*$"
      ngModel
      name="Password"
      #Password="ngModel"
      type="password"
      id="Password"
      class="form-control"
      placeholder="Password"
    />
    <div
      class="alert alert-danger"
      *ngIf="Password.dirty && !Password.valid"
    >
      <div *ngIf="Password.errors.required">Password is required</div>
      <div *ngIf="Password.errors.minlength">
        Password must be between 6 - 20 characters
      </div>
      <div *ngIf="Password.errors.maxlength">
        Password must be between 6 - 20 characters
      </div>
      <div *ngIf="Password.errors.pattern">
        Password must not contain any spaces
      </div>
    </div>
  </div>

  <!-- PASSWORD CONFIRM - if passwords don't match an alert will display from message service -->
  <div class="form-group">
    <input
      required
      ngModel
      name="PasswordConfirm"
      #PasswordConfirm="ngModel"
      type="password"
      id="PasswordConfirm"
      class="form-control"
      placeholder="Confirm Password"
    />
    <div
      class="alert alert-danger"
      *ngIf="PasswordConfirm.dirty && !PasswordConfirm.valid"
    >
      <div *ngIf="PasswordConfirm.errors.required">
        Password confirm is required
      </div>
      <div *ngIf="!this.passwordsMatch">Passwords do not match</div>
    </div>
  </div>
  <br />

  <button class="btn btn-primary">Sign Up</button>
  <p>Already have an account? <a href="https://relaxed-lalande-20b424.netlify.app/login">Sign In</a></p> 
</form>
</div>
</div> 


<div class="split right"> 
  <div class="centered">
  </div>
</div>

