#mainPage{
  display: flex;
  flex-direction: column;
  background-color: rebeccapurple;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  margin: 0px;
  padding: 0px;
  height: 95vh;
}


p {
  color: ghostwhite;
  justify-self: center;
  align-self: center;
}

img {
  justify-self: center;
  align-self: center;
}