 #mainPage{
   flex-direction: column;
   background-color: rebeccapurple;
   align-items: center;
   justify-content: center;
   background-color: rebeccapurple;
   /*width: 600px;*/
   border: 15px solid black;
   padding: 5px;
   margin: auto;
   color: white;
   font-family: verdana;
   font-size: 20px;
   text-align: center;
}

p {
  color: ghostwhite;
  align-content: center;
}


 .headerText {
  display: flex;
   color: ghostwhite;
   font-family: verdana;
   font-size: 20px;
  justify-content: center;
  align-content: center;
}

#frontPageImage {
  display: block;
  justify-content: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  /*height: 200px;*/
  /*width: 350px;*/
}



